body{ padding:0; margin:0;}

img{ display:block;}
.clearfix{ clear:both;}
p{ padding:0; margin:0;}
input{ padding:0; margin:0; }
.bg{ width:900px; height:900px; background-image:url(../img/12.jpg); margin:0 auto;}
.content{ padding-top:230px; margin-left:610px;}
.line1{ margin-bottom:10px;}
.error{ float:left; color:red; margin-left:10px;}
.text1{  float:left;width:50px;}
.input1{ width:150px; height:20px; float:left; margin-left:6%;}
.text2{ float:left;width:50px;}
.input2{  width:150px; height:20px; float:left; margin-left:6%; }
.text3{  float:left;width:50px;}
.input3{ width:153px; height:24px; float:left; margin-left:6%; }
.btn{ margin-left:60px; margin-top:20px;}
.lg{ width:50px; height:20px; color:black; float:left;}
.re{ width:50px; height:20px; color:black; float:left; margin-left:20px;}
.foot{ position:fixed; bottom:0px; width:900px; height:35px; color:white; background-color:#3AA3F9; font-family:"微软雅黑"; text-align:center; line-height:35px;}