body{ padding:0; margin:0;}
a{ text-decoration:none; color:black; }
img{ display:block;}
p{ padding:0; margin:0;}
dl{ margin:0; padding:0;}
.clearfix{ clear:both;}
.bg{ width:900px; height:1100px; background-image:url(../img/11.jpg); margin:0 auto;}
dd{ line-height:36px;}
.nav{ float:left;}
.dl2 dd{ line-height:32px;}
.dl1{ padding-top:88px; padding-left:13px;}
.dl2{ padding-top:12px; padding-left:13px;}
.dl3{ padding-top:18px; padding-left:13px;}
.dl4{ padding-top:22px; padding-left:13px;}
.dl5{ padding-top:22px; padding-left:10px;}
.dl5 dd{ line-height:32px;}
.dl4 dd{ line-height:32px;}
.input1{ width:60px; height:20px; text-align:center;}
.input2{ width:150px; height:20px; text-align:center;}
.input3{ width:50px; height:25px; text-align:center;}
.input4{ width:70px; height:20px; text-align:center;}
.ta{ width:550px; margin:0 auto; margin-top:120px; margin-left:130px; float:left;}
