body{ padding:0; margin:0;}
a{ text-decoration:none; color:black; }
img{ display:block;}
p{ padding:0; margin:0;}
dl{ margin:0; padding:0;}
.clearfix{ clear:both;}
.bg{ width:900px; height:1100px; background-image:url(../img/8.jpg); margin:0 auto;}
dd{ line-height:36px;}
.nav{ float:left;}
.dl1 dd{ margin-top:10px; line-height:22px;}
.dl2 dd{ line-height:32px;}
.dl1{ padding-top:88px; padding-left:13px;}
.dl2{ padding-top:25px; padding-left:25px;}
.dl3{ padding-top:52px; padding-left:13px;}
.modifyPwd{padding-top:18%; padding-left:20%;float:left;}
.text1{ float:left;width:100px;}
.input1{ width:180px; height:20px; float:left; }
.text2{ padding-top:5%;float:left;width:100px;}
.input2{ width:180px; height:20px; float:left;margin-top:5%; }
.text3{ padding-top:5%; float:left;width:100px;}
.input3{ margin-top:5%; width:180px; height:20px; float:left;}
.bc{  margin-left:33%; margin-top:5%; width:50px; height:25px; background-color:#74D4F7; border-color:#098AE8;}



